<!DOCTYPE HTML>
<html>
	<head>
		<title>Image Optimum Quality</title>
		<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
		<style>
			#head	{
				text-align:center;
			}
			#image {
				display:flex;
				justify-content: center;
			}
		</style>
		<script>
			getimg=()=>{
				let input=document.getElementById('upload')
					if (input.files.length>0){
						let File=input.files[0]
						const fd = new FormData()
						fd.append('im',File)
						fetch('/uploadfile',{
								method:'POST',
								body:fd
							})
						.then(ob=>{
									let block=document.getElementById('source')
									block.innerHTML=""
									block.innerHTML=ob.filename

						})
				}
			}
		</script>
	</head>
	<body>
		<h1 id="head">Image Quality Optimizer</h1>
		<div id="image">
			<input type="file" id="upload">
			<button type="button" onclick="getimg()">Upload</button>
			<div id='source'>
			</div>
		</div>
		<div class="container">
		  <form class="range">
    			<div class="form-group range__slider">
     				 <input type="range" step="1">
			</div>
    			<div class="form-group range__value">
      				<label>Image Quality</label>
      				<span></span>            
    			</div>
  		  </form>
		</div>
		<script src="{{ url_for('static',path='/varscript.js') }}">
		</script>
	</body>
</html>
